@{
    ViewData["Title"] = "Ajouter produit";
}

<div class="container-full">

    <div class="header">
        <h1>Ajouter un produit</h1>
        <p>Créer un nouveau produit et gérer le stock</p>
    </div>

    @if (TempData["Success"] != null)
        {
            <div style="background:#DCFCE7;color:#166534;padding:10px;border-radius:8px;margin-bottom:15px;">
                @TempData["Success"]
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div style="background:#FEE2E2;color:#991B1B;padding:10px;border-radius:8px;margin-bottom:15px;">
                @TempData["Error"]
            </div>
        }
    <form method="post">

        <div class="form-grid">

            <div class="form-group">
                <label>Libellé</label>
                <input type="text" name="Libelle" placeholder="Ex: Riz, Coca..." />
            </div>

            <div class="form-group">
                <label>Quantité</label>
                <input type="number" name="Quantite" placeholder="Ex: 10" />
            </div>

            <div class="form-group full-width">
                <label>Catégorie</label>
                <select name="CategorieId">
                    @foreach (var cat in ViewBag.Categories)
                    {
                        <option value="@cat.Id">@cat.Libelle</option>
                    }
                </select>
            </div>

        </div>

        <div class="button-area">

            <div class="status-box">
                <div>
                    <span class="badge stock">En stock</span>
                    <span class="badge rupture">Rupture</span>
                </div>
                <span id="etatText" class="etat-text"></span>
            </div>

            <button type="submit" class="btn">
                Ajouter le produit
            </button>

        </div>

    </form>

</div>

<script>
    const quantiteInput = document.querySelector('input[name="Quantite"]');
    const stockBadge = document.querySelector('.stock');
    const ruptureBadge = document.querySelector('.rupture');
    const etatText = document.getElementById("etatText");

    function updateEtat() {
        const value = parseInt(quantiteInput.value);

        if (value > 0) {
            stockBadge.classList.add("active");
            ruptureBadge.classList.remove("active");

            etatText.innerText = "Produit disponible";
            etatText.style.color = "#16A34A";
        } else {
            ruptureBadge.classList.add("active");
            stockBadge.classList.remove("active");

            etatText.innerText = "Produit en rupture";
            etatText.style.color = "#DC2626";
        }
    }

    quantiteInput.addEventListener('input', updateEtat);

    
    updateEtat();
</script>